# Dépendances
node_modules/
package-lock.json

# Variables d'environnement
.env

# Logs
logs/
*.log
npm-debug.log*

# Fichiers temporaires
tmp/
temp/
*.tmp

# Système d'exploitation
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Couverture de tests
coverage/
.nyc_output/
